{% load static %}
{% block content %}
	<div class="container-fluid">
		<div class="row your-projects">
			<div class="col-md-12 text-center">
				<h4>Наиболее крупные реализованные проекты</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center ofer-1">
				<h5>Строительство двух пятиэтажных кирпичных четырех секционных домов (№8,9 по генплану) Южный город 12 квартал.</h5>
				<h6>Дата начала проекта: 2015 год</h6>
				<h6>Дата завершения проекта: 2016 год</h6>
				<h6>Сметная стоимость проекта: 230 000 000 руб.</h6>
				<h6>Площадь объекта 10 600 кв.м.</h6>
			</div>
			<div class="col-md-6 text-center ofer-2">
				<h5>Устройство пристенного дренажа, пожарного водопровода и ливневой канализации на объекте: «Семейный Торговый Центр «МЕГА Самара»»</h5>
				<h6>Дата начала проекта: 2008 год</h6>
				<h6>Дата завершения проекта: 2008 год</h6>
				<h6>Сметная стоимость проекта: 6 000 000 руб.</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center ofer-3">
				<h5>Кирпичный двух секционный 15-ти этажный жилой дом город Самара, Московское шоссе, 399а </h5>
				<h6>Дата начала проекта: 2001 год</h6>
				<h6>Дата завершения проекта: 2003 год</h6>
				<h6>Сметная стоимость проекта: 156 000 000 руб.</h6>
			</div>
			<div class="col-md-4 text-center ofer-4">
				<h5>Автостоянка закрытого типа город Самара 6-я просека, 146</h5>
				<h6>Дата начала проекта: 2007 год</p>
				<h6>Дата завершения проекта: 2008 год</p>
				<h6>Сметная стоимость проекта: 81 380 000 руб.</p>
			</div>
			<div class="col-md-4 text-center ofer-5 ">
				<h5>Строительство кирпичного двух секционного 16-ти этажного жилого дома Карла Маркса, 245</h5>
				<h6>Дата начала проекта: 2004 год</h6>
				<h6>Дата завершения проекта: 2007 год</h6>
				<h6>Сметная стоимость проекта: 180 000 000 руб.</h6>
			</div>
		</div>
	</div>
{% endblock content %}